section .section-padding{
    padding: 80px 0;
}
.section-title{
    margin-bottom: 60px;
    position: relative;
    margin-top: 50px;
}
h2{
    margin-bottom: 20px;
}
body{
    color: #828282;
    font-size: 15px;
    line-height: 1.7;
}
h1, h2,h3,h4,h5,h6{
    color: #333;
}
.section-title::before{
    position: absolute;
    content: "";
    height: 5px;
    width: 70px;
    left: 0;
    top: 45px;
    background:#14adf3 ;
}
.section-title::after{
    position: absolute;
    content: "";
    height: 5px;
    width: 10px;
    left: 68px;
    top: 45px;
    background:#eeeeec ;
}
.single-staff-items img {
    max-width: 320px;
    width: 160px;
    border-radius: 50%;
}
.staff-meta{
    font-size: 12px;
    color: #b7b7b7;
    margin-top: 20px;
    margin-right: 70px;
    
}
.staff-meta h3{
    margin: 0 0 10px;
    text-transform: uppercase;
    font-size: 20px;
}